@import url('font-awesome.css');

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900,300);
/***
====================================================================
	Reset
====================================================================
***/
* {
	margin:0px;
	padding:0px;
	border:none;
	outline:none;
}

.clear{
	clear:both;
}

a{
	text-decoration:none !important;

}
.card a :hover,:focus{
	color: #024D6C;
	font-size: 1.05em;
	transition: 0.5;
}
.card a{
	text-decoration:none !important;
	color: #000000;
}
.navegacao a{
	text-decoration:none !important;
	color: #032030;
}


/***
====================================================================
	Configuração Global
====================================================================
***/

body {
	font-family: 'Roboto', sans-serif;
	font-size:1em;
	color:#000000;
	font-weight:400;
	background:#ffffff;
}

.page{
	width:100%;
	min-width:280px;
	margin:0 auto;
	overflow:hidden;
}

.line-bottom{
	border-bottom:2px dashed #cccccc;
	padding-bottom: 40px;
	margin-bottom: 40px;
}
.logo{
	width: 200px;
	margin-bottom: 2rem;
}
/***
====================================================================
	Banner style
====================================================================
****/

.banner{
	width:100%;
	min-height:450px;
	background-repeat:no-repeat;
}

.banner-top{
	min-height:90px;
}

/***
====================================================================
	Simulação style
====================================================================
****/

.main-simulacao{
	margin-top: 10px;
}

.main-simulacao h1{
	font-size: 2.5em;
	color: #003453;
	text-align: right;
	font-weight: bold;
}

.main-simulacao .bt-simulacao,
.sobre .bt-simulacao{
	background: -moz-linear-gradient(top, #FF8A00 0%, #FFAF03 100%);
	background: -webkit-linear-gradient(top, #FF8A00 0%,#FFAF03 100%);
	background: -o-linear-gradient(top, #FF8A00 0%,#FFAF03 100%);
	background: linear-gradient(to bottom, #FF8A00 0%,#FFAF03 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8a00', endColorstr='#ffaf03',GradientType=0 );

	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;

	display: block;
	padding: 15px 10px;
	margin: 30px 0px;

	font-size: 2.3em;
	line-height:1.2em;
	font-weight: bold;
	color:#003453;
	text-transform: uppercase;

	cursor:pointer;
}

.main-simulacao .bt-simulacao:hover,
.sobre .bt-simulacao:hover{
	background: -moz-linear-gradient(top, #feaf00 0%, #FEB825 100%);
	background: -webkit-linear-gradient(top, #feaf00 0%,#FEB825 100%);
	background: -o-linear-gradient(top, #feaf00 0%,#FEB825 100%);
	background: linear-gradient(to bottom, #feaf00 0%,#FEB825 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feaf00', endColorstr='#FEB825',GradientType=0 );

	text-decoration:none;
}

.main-simulacao .bt-simulacao i,
.sobre .bt-simulacao i{
	font-size: 1em;
	color: #003453;
	border: 5px solid #003453;

	border-radius: 			100px;
	-moz-border-radius:		100px;
	-ms-border-radius:		100px;
	-o-border-radius:		100px;
	-webkit-border-radius:	100px;

	float:left;
	padding: 20px;
	margin: 0px 20px 0px 15px;
}

.main-simulacao .bt2-simulacao{
	background: -moz-linear-gradient(top, #1a6f96 0%, #023a53 100%);
	background: -webkit-linear-gradient(top, #1a6f96 0%,#023a53 100%);
	background: -o-linear-gradient(top, #1a6f96 0%,#023a53 100%);
	background: linear-gradient(to bottom, #1a6f96 0%,#023a53 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a6f96', endColorstr='#023a53',GradientType=0 );

	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;

	display: block;
	padding: 20px;
	margin: 30px 0px;

	text-align:center;
	font-size: 1.3em;
	line-height:1em;
	font-weight: 500;
	color:#ffffff;

	cursor:pointer;
}

.main-simulacao .bt2-simulacao:hover{
	text-decoration:none;

	background: -moz-linear-gradient(top, #2291C6 0%, #024D6C 100%);
	background: -webkit-linear-gradient(top, #2291C6 0%,#024D6C 100%);
	background: -o-linear-gradient(top, #2291C6 0%,#024D6C 100%);
	background: linear-gradient(to bottom, #2291C6 0%,#024D6C 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2291C6', endColorstr='#024D6C',GradientType=0 );
}
/***
====================================================================
	Menu style
====================================================================
****/

.main-navigation{
	margin-left:0px;
	margin-right:0px;
	padding:0px;
}

.main-navigation .navbar-toggle{
    position: relative;
    float: right;
    padding:10px;
    margin:30px 15px;
    background-color: #4c9ed9;
    background-image: none;
    border: 1px solid #4c9ed9;
    border-radius: 4px;
}


.main-navigation .navbar-toggle .icon-bar{
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background-color: #ffffff;
	margin-top:4px;
}

.main-navigation .dropdown-toggle .caret{
	position: absolute;
	right: 18px;
	top: 15px;
	width: 40px;
	height: 29px;
	cursor: pointer;
	z-index: 5;
}

.main-navigation .menu ul{
	font-size:18px;
	color:#000000;
}

.main-navigation .menu ul li a{
	width:auto;
	height:95px;
	line-height:110px;
	text-decoration:none;
	font-weight:400;
	color:#000000;
	display:block;
	padding:0px 15px;
}

.main-navigation .menu ul li a:hover,
.main-navigation .menu ul li a:focus,
.main-navigation .dropdown .open li a:focus{
	background:#ffffff;
}

.main-navigation .dropdown ul{
	display:none;
	margin-top:0px;
	background:#ffffff;
	border:none;
	border-radius:0px;
	color:#000000;
	z-index:20;
	padding:0px;
}

.main-navigation .menu li li {
	display:block;
	float:none;
	margin:0px;
}

.main-navigation .menu li ul a{
	width:auto;
	min-width: 182px;
	height:60px;
	line-height:60px;
	display:block;
	color:#000000;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	padding-left:20px;
}

.main-navigation .menu li ul a:hover{
	background-color:#ffffff;
	border:0px;
	color:#000000;
}

.main-navigation .menu li ul a:hover{
	background-color:#4c9ed9;
	border:0px;
	color:#ffffff;
}

/***
====================================================================
	Rodapé style
====================================================================
****/

.rodape{
	background:#003755;
	color:#ffffff;
}

.rodape .contatos{
	padding:30px 0px;
}

.rodape .contatos i{
	font-size: 1.5em;
	color: #ffad01;
	border: 3px solid #ffad01;

	border-radius: 			100px;
	-moz-border-radius:		100px;
	-ms-border-radius:		100px;
	-o-border-radius:		100px;
	-webkit-border-radius:	100px;

	float:left;
	padding: 5px 8px;
	margin: 10px 10px 0px 0px;
}

.rodape .contatos h2, .rodape .contato-forms h2{
	color:#ffad01;
	font-weight: 900;
	font-size: 1.3em;
	line-height: 1em;
	padding-top:10px;
	margin:0px;
	text-transform: uppercase;
}

.rodape .contatos span, .rodape .contato-forms span{
	color:#ffffff;
	font-weight: 300;
	font-size: 1.1em;
	line-height: 1em;

	text-transform: uppercase;
}

.rodape .contatos .telefones{
	margin:	20px 10px;
}

.rodape .contatos .telefones span{
	font-weight:700;
	text-transform:none;
	line-height:1.3em;
}

.rodape .contato-forms textarea{
	padding:0px 10px !important;
}

.rodape .contato-forms input,
.rodape .contato-forms textarea,
.form-simulacao input,
.form-simulacao select{
	width:100%;
	height:50px;
	line-height:50px;

	margin-top:10px;
	padding:10px;

	color:#000000;

	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
}

.rodape .contato-forms input[type="submit"],
.form-simulacao input[type="submit"]{
	background:#ffad01;
	font-weight:700;
	margin-top:10px;
	padding:0px !important;
}

.rodape .contato-forms input[type="submit"]:hover,
.form-simulacao input[type="submit"]:hover{
	background:#032030;
	color:#ffad01;
}

.rodape .rodape-direitos{
	background:#032030;
	color:#ffad01;
	font-size:0.8em;
	line-height:60px;
}

.rodape .rodape-direitos span{
	float:left;
}

.rodape .rodape-direitos a{
	float:right;
	text-decoration:none;
}
/***
====================================================================
	HOME
====================================================================
****/
.main-home h1{
	margin-bottom: 1em;
	font-size: 2.5em;
	line-height: 1.2em;
	font-weight: 900;
	color:#032030;
	text-align: center;
}
.titles{
	margin: 1em auto;
	font-size: 2.0em;
	line-height: 1.2em;
	font-weight: 900;
	color:#032030;
	text-align: center;
}
.operadora-logo{
	display: flex;
	justify-content: center;
	width: 100%;
	align-items: center;
}
.card-operadora{
	height: 24em;
}
.card-hospital{
	height: 15em;
}
.btn-card{
	width: 100%;
	position: absolute;
	bottom: 0.5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-stretch: semi-condensed;
	text-align: center;

}
.btn-card a{
	color: #003453;
}
.btn-card a:hover,:focus{
	color: #feaf00;
}
.card-text{
	font-size: 0.8em;
	margin: 1em;
}
.card-title{
	font-size: 0.9em;
	margin: 0.5em;
	font-weight: 700;
	text-align: center;
}
/************************ Perguntas e Respostas ************************/
.perguntas .conteudo-operadoras{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.perguntas .subconteudo{
	width: 95%;

}
.perguntas .text-center{
	text-align: center;
}
.perguntas .form-pergunta{
	width: 100%;
	display: flex;
	justify-content: center;
}
.perguntas a{
	text-decoration: none;
	color: #2291C6;
	font-weight: 700;
}
.perguntas a:hover,:focus{
	text-decoration: none;
	color: #0439bd;
	font-weight: 700;
	font-size: 1.2rem;
	transition: 0.5s;
}
.perguntas h1{
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 2rem;
	color: #1d3b53;
}
.perguntas h2{
	font-size: 1.8rem;
	font-weight: 500;
	margin-bottom: 2rem;
	color: #1d3b53;
}
.perguntas h3{
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 1rem;
}
.perguntas h4{
	font-size: 1.2rem;
	font-weight: 500;
	margin-bottom: 1rem;
}
.perguntas h5{
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 1rem;
}

.perguntas h1 a:hover,:focus{
	font-size: 2.6rem;
	font-weight: 700;
	margin-bottom: 2rem;
	color: #003453;
}
.perguntas h2 a:hover,:focus{
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 2rem;
	color: #003453;
}
.perguntas h3 a:hover,:focus{
	font-size: 1.7rem;
	font-weight: 500;
	margin-bottom: 1rem;
	color: #003453;
}
.perguntas h4 a:hover,:focus{
	font-size: 1.4rem;
	font-weight: 700;
	margin-bottom: 1rem;
	color: #003453;
}
.perguntas h5 a:hover,:focus{
	font-size: 1.2rem;
	font-weight: 700;
	margin-bottom: 1rem;
	color: #003453;
}
.perguntas ul{
	margin-left: 1rem;
}
.wtable{
	display: flex;
	justify-content: center;
	align-items: center;
}
.wtable__table{
	width: 80%;
}
.header--img{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
}
.img-diferenciais{
	width: 60%;
	margin: 2rem
}
.btn__botoes{
	background-color: #1d3b53;
	border-radius: 5px;
	width: 27%;
	margin: 1rem auto;
	padding: 1rem 0;
	color: #fff;
	font-weight: 500;
	font-size: 1rem;
	text-align: center;
}
.btn__botoes:hover,:focus{
	color: #1d3b53;
	background-color: #fff;
	border: #1d3b53 1px solid;
	transition: 0.5s;
}

.botoes {
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.subconteudo a{
	color: #023a53;

}
.subconteudo a:hover,:focus{
	color: #2291C6;
}
footer{
	margin-top: 2em;
}

.footer-icon{
	display: flex;
	align-items: center;
	margin-top: 1.5em;
}
.contatos a{
	color: #ffffff;
}
.contatos a:hover, .contatos a:focus{
	color: #feaf00;
}
.form-footer{
	margin-top: 0.6em;
}
/****
====================================================================
	Sobre style
====================================================================
****/
.main-sobre .min-banner{
	width:100%;
	height:8em;
	margin:30px auto;
	text-align:center;

	border-radius: 			10px;
	-moz-border-radius:		10px;
	-ms-border-radius:		10px;
	-o-border-radius:		10px;
	-webkit-border-radius:	10px;
}

.main-sobre .min-banner img{
	padding:25px 0px;
	height: 90%;
}
.whatsapp {
  font-size: 3em;
  position: fixed;
  bottom: 0.9em;
  right: 0.1em;
  z-index: 9999;
  color: rgb(99, 189, 9);
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}
.hospitais{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.tabela{
	width: 100%;
	display: flex;
	justify-content: center;
}
